section.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 30px 15px;
    padding-bottom: 20px;
}

section.places h1 {
    margin: 0;
    width: 100%;
    font-size: 30px;
}

.places article {
    display: flex;
    flex-direction: column;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-color: #AF1A1F;
    border-radius: 4px;
}

.places article>h2 {
    margin: 8px auto;
    align-self: center;
    font-size: 30px;
}

.places article .price_by_night {
    display: inline-block;
    position: absolute;
    /* color: #FF5A5F; */
    border: 4px solid #FF5A5F;
    color: #AF1A1F;
    border-color: #AF1A1F;
    border-radius: 50%;
    min-width: 75px;
    height: 75px;
    line-height: 67px;
    font-size: 30px;
    text-align: center;
    align-self: flex-end;
    margin: 0;
}

.places article .information,
.places article .amenities,
.places article .reviews {
    margin: 0;
    margin-top: 40px;
}

.places article .information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 0px;
    width: 100%;
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.max_guest,
.number_rooms,
.number_bathrooms{
    width: 100px;
}

div.information div .icon{
    align-self: center;
    margin: auto;
    height: 50px;
    width: 50px;
}

.max_guest .icon {
    height: 50px;
    width: 50px;
    background-image: url("../images/icon_group.png");
}

.number_rooms .icon {
    height: 50px;
    width: 50px;
    background-image: url("../images/icon_bed.png");
}

.number_bathrooms .icon {
    height: 50px;
    width: 50px;
    background-image: url("../images/icon_bath.png");
}

.places article .user,
.places article .description {
    padding: 0;
}

.places article .user {
    margin-top: 25px;
}

.places article .description {
    margin-top: 16px;
}

.places article .amenities h2,
.places article .reviews h2 {
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
    margin: 0;
    margin-bottom: 16px;
}

.places article .amenities ul,
.places article .reviews ul {
    list-style: none;
    margin: 0;
    margin-top: 16px;
    padding: 0;
}

.places article .amenities li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin: 0;
    padding-left: 70px;
}

.pets-friendly{
    
    background: url("../images/icon_pets.png") no-repeat left;
}

.wifi{
    
    background: url("../images/icon_wifi.png") no-repeat left;
}

.tv{
    
    background: url("../images/icon_tv.png") no-repeat left;
}

.places article .reviews li
{
    margin-top: 20px;
}

.places article .reviews li h3 {
    padding: 0;
    margin: 0;
    font-size: 14px;
    word-wrap: break-word;
}

.places article .reviews li p {
    margin: 0;
    padding-top: 4px;
    font-size: 12px;
}


@media screen and (max-width: 600px){
    .places article .price_by_night {
        min-width: 60px;
        height: 60px;
        line-height: 52px;
        font-size: 24px;
        text-align: center;
        align-self: flex-end;
        margin-right: -10px;
        margin-top: -4px;
    }
}

@media screen and (max-width: 400px) {
    .places article {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-width: 390px;
        padding: 5px;
        margin: 5px;
        border: 1px solid #FF5A5F;
        border-radius: 4px;
    }

    .places article .price_by_night {
        min-width: 50px;
        height: 50px;
        line-height: 42px;
        font-size: 20px;
        text-align: center;
        align-self: flex-end;
        margin-right: 4px;
        margin-top: 8px;
    }

    .max_guest,
    .number_rooms,
    .number_bathrooms{
        min-width: 50px;
        max-width: 100px;
        height: auto;
        font-size: 10px;
    }
}
