<!DOCTYPE html>
<HTML lang="EN">
	<HEAD>
		<META charset="utf-8">
		<TITLE>AirBnB Clone</TITLE>
		<LINK rel="icon" type="image/png" href="/static/images/icon.png">
		<LINK rel="stylesheet" href="/static/styles/4-common.css">
		<LINK rel="stylesheet" href="/static/styles/3-header.css">
		<LINK rel="stylesheet" href="/static/styles/3-footer.css">
		<LINK rel="stylesheet" href="/static/styles/100-filters.css">
    <LINK rel="stylesheet" href="/static/styles/8-places.css">
	</HEAD>
	<BODY>
		<HEADER>
			<DIV class="logo"></DIV>
		</HEADER>

		<DIV class="container">
			<SECTION class="filters">
				<DIV class="locations">
					<H3>States</H3>
					<H4>&nbsp;</H4>
					<UL class="popover">
            {% for state in states|sort(case_sensitive=True, attribute='name') %}
              <LI>
                <H2>{{ state.name }}</H2>
                <UL>
                  {% for city in state.cities|sort(case_sensitive=True, attribute='name') %}
                    <LI>{{ city.name }}</LI>
                  {% endfor %}  
                </UL>
              </LI>
            {% endfor %}
					</UL>
				</DIV>

				<DIV class="amenities">
					<H3>Amenities</H3>
					<H4>&nbsp;</H4>
					<UL class="popover">
						{% for amenity in amenities|sort(case_sensitive=True, attribute='name') %}
              <LI>{{ amenity.name }}</LI>
            {% endfor %}
					</UL>
				</DIV>
				<BUTTON class="search-btn">Search</BUTTON>
			</SECTION>

      <SECTION class="places">
        <H1>Places</H1>
        {% for place in places|sort(case_sensitive=True, attribute='name') %}
        <ARTICLE>
          <H2>{{ place.name }}</H2>
          <DIV class="price_by_night">${{ place.price_by_night }}</DIV>
          <DIV class="information">
            <DIV class="max_guest">
              <DIV class="icon"></DIV>
              <DIV class="center">{{ place.max_guest }} Guest</DIV>
            </DIV>
            <DIV class="number_rooms">
              <DIV class="icon"></DIV>
              <DIV class="center">{{ place.number_rooms }} Room</DIV>
            </DIV>
            <DIV class="number_bathrooms">
              <DIV class="icon"></DIV>
              <DIV class="center">{{ place.number_bathrooms }} Bathroom</DIV>
            </DIV>
          </DIV>
          <DIV class="user"><STRONG>Owner: </STRONG>{{ place.user.first_name }} {{ place.user.last_name }}</DIV>
          <DIV class="description">{{ place.description|safe }}</DIV>
        </ARTICLE>
        {% endfor %}
      </SECTION>
		</DIV>

		<FOOTER>
			<SPAN>Best School</SPAN>
		</FOOTER>
	</BODY>
</HTML>
